<style>

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: cornsilk;
        }

        #container {
            display: flex;
        }

        #playingfield {
            width: 25%;
            padding: 3em;
        }

        #galg {
            width: 25%;
        }

        #send {
            width: 5em;
            background-color: yellow;
            text-align: center;
            padding-top: 0.5em;
        }

        #answer{
            font-family: monospace, sans-serif;
            font-size: 2.5em;
        }

        #endtext{
            color: rgb(194, 68, 68);
            width: 20em;
            height: 2em;
            padding: 1em;
            font-size: 3em;
        }

        .block {
            width: 20em;
            height: 2em;
        }

    </style>